<ion-header>
  <ion-toolbar>
    <ion-title>Altere a sua Senha</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="assets/icons/back-arrow.svg"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Senha atual</ion-label>
      <ion-input type="password" formControlName="old_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nova senha</ion-label>
      <ion-input type="password" formControlName="new_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar nova senha</ion-label>
      <ion-input type="password" formControlName="confirm_password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">Salvar</ion-button>
  </form>
</ion-content>
