ion-content.background {
  --background: url(../../../assets/svg/bg-login-light.svg) 100% 100% no-repeat;
}

ion-card {
  position: relative;
  padding: 18% 6% 18% 6%;
  margin: 0 8% 0 8%;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 12px;
  background: #ffffff;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#backButtonWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

ion-button.back-button {
  --color: #0f482f;
  --background: transparent;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ion-button.back-button ion-icon {
  font-size: 1.5rem;
}

#divInputs {
  margin: 6% 0 6% 0;
}

ion-button.submit-button {
  --background: #0f482f;
  --background-activated: #00875f;
  --color: rgb(255, 255, 255);
  --font-weight: bold;
  margin-top: 24px;
  height: 48px;
  --border-radius: 12px;
}

ion-card-title.text {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  text-align: center;
}

ion-card-subtitle.text {
  font-size: 0.95rem;
  color: #596275;
  margin-bottom: 1.3rem;
  text-align: center;
}

form {
  ion-icon {
    font-size: 1.8rem;
    filter: var(--profile-filter-img);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.4rem;
    gap: 0.5rem;
  }

  ion-item {
    width: 100%;
    --border-color: #000;
    --highlight-color-focused: #779E39;
    --background: transparent;
  }

  ion-label {
    color: #222;
  }

  ion-input {
    --highlight-color-focused: #000;
  }
}

@media (max-width: 480px) {
  ion-card {
    padding: 16% 6% 16% 6%;
    margin: 0 5%;
  }

  #divInputs {
    margin: 4% 0;
  }
}
