<ion-content [fullscreen]="true" padding class="background">
  <div id="card">
    <ion-card>
      <div id="backButtonWrapper">
        <ion-button fill="clear" class="back-button" [routerLink]="['/home']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-card-subtitle class="text">Atualize a sua senha atual</ion-card-subtitle>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div id="divInputs">
          <div class="wrapper">
            <ion-icon class="icon" slot="start" src="assets/icons/lock.svg" alt="Icone" />
            <ion-item>
              <ion-label position="floating">Senha atual</ion-label>
              <ion-input type="password" formControlName="old_password" autocomplete="current-password"></ion-input>
            </ion-item>
          </div>

          <div class="wrapper">
            <ion-icon class="icon" slot="start" src="assets/icons/lock.svg" alt="Icone" />
            <ion-item>
              <ion-label position="floating">Nova senha</ion-label>
              <ion-input type="password" formControlName="new_password" autocomplete="new-password"></ion-input>
            </ion-item>
          </div>

          <div class="wrapper">
            <ion-icon class="icon" slot="start" src="assets/icons/lock.svg" alt="Icone" />
            <ion-item>
              <ion-label position="floating">Confirmar nova senha</ion-label>
              <ion-input type="password" formControlName="confirm_password" autocomplete="new-password"></ion-input>
            </ion-item>
          </div>
        </div>

        <ion-button expand="block" type="submit" class="submit-button">Salvar</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
