<ion-accordion class="meal">
  <ion-item class="meal-header" slot="header">
    <ion-icon class="icon" src="assets/icons/cutlery.svg"></ion-icon>
    <ion-label>{{meal.title}}</ion-label>
    <ion-icon class="ion-accordion-toggle-icon" src="assets/icons/chevron-down.svg"></ion-icon>
  </ion-item>

  <div class="meal-content" *ngFor="let mealItem of meal.items" slot="content">
    <ion-item class="meal-item">
      <div class="quantity">
        <span>{{mealItem.quantity}}</span>
        <span>{{mealItem.unit}}</span>
      </div>

      <div class="content">
        <p class="item">{{mealItem.name}}</p>
        <span class="description">{{mealItem.description}}</span>
      </div>
    </ion-item>
  </div>

  <ion-button class="confirm-button" slot="content" (click)="markAsCompleted(meal.title)">
    <ng-container *ngIf="isLoading; else notLoading">
      <span class="spinner"></span>
    </ng-container>

    <ng-template #notLoading>
      <ion-icon src="assets/icons/check.svg"></ion-icon>
      {{meal.completed ? "Concluída" : "Marcar como concluída"}}
    </ng-template>
  </ion-button>