<ion-content>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/" icon="assets/icons/back-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-back-button [routerLink]="['/edit-profile']" defaultHref="/" icon="assets/svg/Edit.svg"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <div id="content-wrapper">

    <ion-icon id='profile-image' src='assets/icons/user-circle.svg'></ion-icon>

    <div class="settings-wrapper">

      <ion-title class="title">{{ userName }}</ion-title>

      <ion-button type="text" class="submit-button">Terms and Contract</ion-button>
    
      <ion-button type="text" class="submit-button">Log Out</ion-button>

    </div>

  </div>

</ion-content>

