<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="assets/icons/back-arrow.svg"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">Settings</ion-title>
  </ion-toolbar>

  <div id="content-wrapper">

    <ion-icon id='profile-image' src='assets/icons/user-circle.svg'></ion-icon>

    <div class="settings-wrapper">

      <ion-title class="title">Settings</ion-title>

      <ion-item class="setting" color="transparent" lines="none">
        <ion-icon name="sunny-outline" slot="start" size="large"></ion-icon>
        <p>Dark Mode</p>
        <ion-toggle [checked]="isDarkMode" (ionChange)='toggleDarkMode()' slot="end" justify="space-between"></ion-toggle>
      </ion-item>

      <ion-item class="setting" color="transparent" lines="none">
        <ion-icon name="notifications-outline" slot="start" size="large"></ion-icon>
        <p>Notifications</p>
        <ion-button slot="end" fill="clear" size="large">
          <ion-icon src='assets/icons/arrow-right.svg'></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item class="setting" color="transparent" lines="none">
        <ion-icon name="shield-half-outline" slot="start" size="large"></ion-icon>
        <p>Security</p>
        <ion-button slot="end" fill="clear" size="large">
          <ion-icon src='assets/icons/arrow-right.svg'></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item class="setting" color="transparent" lines="none">
        <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
        <p>Account</p>
        <ion-button slot="end" fill="clear" size="large">
          <ion-icon src='assets/icons/arrow-right.svg'></ion-icon>
        </ion-button>
      </ion-item>

      <p class="credits">Desenvolvido por: João Gabriel, Rodrigo Oliveira e Alice Lins</p>

    </div>

  </div>



</ion-content>

<app-navbar></app-navbar>