ion-content.background {
  --background: url(../../../assets/svg/bg-login-light.svg) 100% 100% no-repeat;
}

/* card */
ion-card {
  padding: 20% 5% 20% 5%;
  margin: 0 10% 0 10%;
  box-shadow: 0px 0px 10px 0px #00000080;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* caixas de texto */
#divInputs {
  margin: 10% 0 10% 0;
}

/* campos de ação */

#divAlterarSenha {
  display: flex;
  justify-content: end;
  margin: 0 0 10% 0;
}


#divCadastrar {
  text-align: center;
  margin: 15% 0 0 0;
}

#txtAlterarSenha {
  text-align: end;
}

/* botão */

ion-button {
  --background: #0f482f;
  --background-activated: #00875f;
  --color: rgb(255, 255, 255);
  --font-weight: bold;
  margin-top: 40px;

}

ion-card-subtitle {
  margin-bottom: 15%;
  
}

form {

  

  ion-icon {
    font-size: 2rem;
    filter: var(--profile-filter-img)
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.4rem;
  }

  ion-item {
    width: 100%;
    --border-color: #000;
    --highlight-color-focused: #779E39;
    --background: transparent;
    &.item-has-focus ion-label {
      color: #779E39 !important;
    }
  }

  ion-input {
    --highlight-color-focused: #000;
    
  }


}