<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home" icon="assets/icons/back-arrow.svg"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <main class="container">
    <!-- Troquei ion-title por h1 -->
    <section class="title-wrapper">
      <h1 class="title">Crie sua nova Conta</h1>
    </section>

    <form [formGroup]="registerForm" #myForm="ngForm">
      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/user.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input #inputFields required type="text" name="name" formControlName="name" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/identification-card.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">CRN (opcional)</ion-label>
          <ion-input (focusout)="onInputBlur($event)" #inputFields type="text" id="crn" name="crn" formControlName="crn" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/envelope.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input #inputFields type="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required formControlName="email" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/lock.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input #inputFields ngModel minlength="6" maxlength="6" required type="password" name="password" formControlName="password" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/lock.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">Confirmar Senha</ion-label>
          <ion-input #inputFields required type="password" name="confirmPassword" formControlName="confirmPassword" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/map-pin.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input type="text" maxlength="8" formControlName="cep" (ionBlur)="buscarCep()" />
        </ion-item>
      </div>

      <div class="wrapper">
        <ion-icon class="icon" slot="start" src="assets/icons/road.svg" alt="Icone" />
        <ion-item>
          <ion-label position="floating">Rua</ion-label>
          <ion-input readonly [value]="rua" />
        </ion-item>
      </div>

      <ion-button type="submit" class="submit-button" (click)="onSubmit()">Cadastrar</ion-button>
    </form>
  </main>
</ion-content>
