<ion-content [fullscreen]="true">
  <ion-toast
    [isOpen]="showToast"
    message="Dieta trocada com sucesso!"
    duration="1000"
    color="success"
    position="top"
    (didDismiss)="showToast = false">
  </ion-toast>

  <ng-template [ngIf]="loading" [ngIfElse]="content">
    <app-spinning-loader />
  </ng-template>

  <ng-template #content>
    <ion-header class="custom-header">
      <ion-toolbar>
        <div class="header-row">
          <!-- Ícone de usuário -->
          <ion-icon class="profile-icon" src="assets/icons/user-circle.svg"></ion-icon>

          <!-- Saudação + nome -->
          <div class="greeting-block">
            <span class="greeting-text">{{greeting}},</span>
            <span class="user-name">{{userNameFormatted}}</span>
          </div>

          <!-- Fogo com contagem -->
          <div id="days-in-offensive">
            <ion-icon src="assets/icons/offensive-days-fire.svg"></ion-icon>
            <span>{{days_in_offensive}}</span> <!--test pra essa prr de foguinho-->
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <section>
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Pesquise uma dieta por título ou ID" show-clear-button="focus"></ion-searchbar>

      <ion-list *ngIf="filteredList">
        <ion-item class="search-diet-item" *ngFor="let diet of filteredList">
          <ion-label>{{ diet.title }}</ion-label>
          <ion-button class="confirm-button" (click)="handleSetDietToUser(diet.id)">
            <ion-icon src="assets/icons/to-change.svg"></ion-icon>
            Trocar Dieta
          </ion-button>
        </ion-item>
      </ion-list>
    </section>

    <section *ngIf="!hasDiet" class="wrapper">
      <ion-title size="large" class="title">Você ainda não segue nenhuma dieta.</ion-title>
    </section>

    <!-- isso que mostra a dieta -->
    <app-meal-accordion></app-meal-accordion>
 
 

    <section id="orientations" *ngIf="orientations">
      <ion-title class="title">Orientações Nutricionais</ion-title>
      <ion-accordion-group class="orientation-accordion">
        <ion-accordion class="orientation">
          <ion-item class="orientation-header" slot="header">
            <ion-icon class="icon" src="assets/icons/bookmark.svg"></ion-icon>
            <ion-label>Observações</ion-label>
            <ion-icon class="ion-accordion-toggle-icon" src="assets/icons/chevron-down.svg"></ion-icon>
          </ion-item>
          <div class="orientation-content" *ngFor="let orientation of orientations" slot="content">
            <ion-item class="orientation-item">
              <div class="content">
                <p class="item">{{orientation}}</p>
              </div>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </section>
  </ng-template>
</ion-content>

<app-navbar></app-navbar>
